{% extends 'films/base.html' %}
{% load static %}
{% load films_extras %}

{% block head %}
    <title>{{ accuser.username }}</title>
{% endblock head %}

{% block content %}
<style>
.like-button{
    background:  url('{% static 'films/img/like_hollow.png' %}');
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-color: transparent;
}


.liked:hover{
    background:  url('{% static 'films/img/like_hollow.png' %}');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.unliked:hover{
    background:  url('{% static 'films/img/like.png' %}');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}


.liked{
    background:  url('{% static 'films/img/like.png' %}');
    background-size: contain;
    background-repeat: no-repeat;
}


.unliked
    background:  url('{% static 'films/img/like_hollow.png' %}');
    background-size: contain;
    background-repeat: no-repeat;
}

#message-icon{
    background:  url('{% static 'films/img/message_logo.png' %}');
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    text-align: center;
}

</style>

    <div class="account-content">
        <table>
            <tr>
                <td>
                    {% if accuser.image %}
                        <img id="account-avatar" src="{{ accuser.image.url }}">
                    {% else %}
                        <img id="account-avatar" src="{% static 'films/img/anon_image.png' %}">
                    {% endif %}
                    <div id="name" align="center"><b><i>{{ accuser.username }}</i></b></div>
                </td>
                <td width="100%">
                    <div id="status">
                        <b>Улюблена цитата:</b> <p><i>{{ accuser.status }}</i></p>
                        <b>Про себе:</b> <p><i>{{ accuser.about }}</i></p>
                        <b>Дата народження:</b> <p><i>{{ accuser.dob|date:'d M Y' }}</i></p>
                    </div>

                </td>
            </tr>
            <tr>


            </tr>
        </table>

    </div>

    <div class="my-posts">

        {% if accuser.id == user.id %}
            <div class="account-content">
                <table>
                    <tr>
                        <td>&nbsp;</td>
                        <td><a href="{% url 'users:show_messages' user.id %}">Мої повідомлення</a></td>
                        {% if new_messages_count %}
                            <td>
                                <div id="message-icon">
                                    <span id="message-count">{{ new_messages_count }}</span>
                                </div>
                            </td>
                        {% endif %}
                        <td>&nbsp;</td>
                        <td><a href="{% url 'users:saved_accs' user.id %}">Збережені профілі</a></td>
                    </tr>
                </table>
            </div>
        {% else %}
            <div class="account-content">
                <table>
                    <tr>
                        <td>
                            <form action="{% url 'users:save_acc' accuser.id user.id %}">
                                <button>Відстежувати цей профіль</button>
                            </form>
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <form action="{% url 'users:save_acc' accuser.id user.id %}">
                                <button>Надіслати повідомлення</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}

        {% if accuser.id == user.id %}
            <h1 align="center">Мої дописи <a href="{% url 'users:create_page_post' user.id %}"><button>+</button></a></h1>

        {% else %}
            <h1 align="center">Дописи {{ accuser.username }}</h1>
        {% endif %}
        <ul class="no-bullets">
            {% for post in user_posts %}
            <li>
                <div class="post-on-page">
                    <div class="inner-content">
                        {% for p in post %}
                            <h2 align="center">{{ p.title }}</h2>
                            <p>{{ p.text }}</p>
                            <p align="center"><img id="post-image" src="{{ p.image.url }}"></p>
                            <table id="post-info">
                                <tr>
                                    <td align="left">
                                        <a id="author-href" href="{% url 'users:account' p.author.id %}">{{ p.author.username }}</a> --- {{ p.date_added|date:'d M Y' }}
                                    </td>
                                    <td align="right">
                                        <form action="{% url 'users:acclike' accuser.id p.id %}">
                                            <button formaction="{% url 'users:share' p.id user.id %}">Поділитись</button>
                                            {% if p.list_of_likers.liked|check_if_liked:user.id %}
                                                <button align="right" class="like-button liked"></button>
                                            {% else %}
                                                <button align="right" class="like-button unliked"></button>
                                            {% endif %}
                                            {{ p.likes }}
                                        </form>
                                    </td>
                                    <td>Liked - {{ p.list_of_likers.liked }}</td>
                                    <td>Saved - {{ p.list_of_likers.saved }}</td>
                                </tr>

                            </table>
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>

{% endblock content %}