{% extends 'films/base.html' %}
{% load static %}

{% block head %}
    <title>Збережені профілі</title>
{% endblock head %}


{% block content %}
    <div class="search">
        <h2>Знайти користувача</h2>
        <form action="{% url 'users:saved_accs' user.id %}" method="post">
            {% csrf_token %}
            {{ form.username }}
            <button name="submit">Пошук</button>
        </form>
    </div>
    <div class="search search-results">
        <table class="results-table">
            {% if users %}
                <tr>
                    <td><b>Аватар</b></td><td><b>Ім'я</b></td><td><b>Id</b></td>
                </tr>
            {% endif %}
            {% for u in users %}
                <tr>
                    {% if u.image %}
                        <td><a href="{% url 'users:account' u.id %}"><img class="avatar" src="{{ u.image.url }}"></a></td>
                    {% else %}
                        <td><a href="{% url 'users:account' u.id %}"><img class="avatar" src="{% static 'films/img/anon_image.png' %}"></a></td>
                    {% endif %}
                    <td><a href="{% url 'users:account' u.id %}">{{ u.username }}</a></td>
                    <td>{{ u.id }}</td>
                </tr>
                <tr>
                    <td><hr></td><td><hr></td><td><hr></td><td><hr></td><td><hr></td>
                </tr>
            {% endfor %}
        </table>



    </div>

    <div class="post-on-page simple-shadow mg-t-3">
        <h2 align="center">Збережені профілі</h2>
        <table class="acc-list-table">
            <tr>
                <td><b>Аватар</b></td>
                <td><b>Ім'я</b></td>
                <td><b>Дата народження</b></td>
            </tr>
            <tr>
                <td><hr></td><td><hr></td><td><hr></td>
            </tr>
            {% for profile in profiles %}
                {% if profile.image %}
                    <tr>
                        <td><a href="{% url 'users:account' profile.id %}"><img class="avatar" src="{{ profile.image.url }}"></a></td>
                        <td><a href="{% url 'users:account' profile.id %}">{{ profile.username }}</a></td>
                        <td>{{ profile.dob }}</td>
                    </tr>
                    <tr>
                        <td><hr></td><td><hr></td><td><hr></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><a href="{% url 'users:account' profile.id %}"><img class="avatar" src="{% static 'films/img/anon_image.png' %}"></a></td>
                        <td><a href="{% url 'users:account' profile.id %}">{{ profile.username }}</a></td>
                        <td>{{ profile.dob }}</td>
                    </tr>
                    <tr>
                        <td><hr></td><td><hr></td><td><hr></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>




    </div>
{% endblock content %}