{% extends 'films/base.html' %}

{% block content %}
    <h1 align="center">Додати новий тег:</h1>

    <form action="{% url 'films:new_tag' %}" method="post">
        {% csrf_token %}
        <p align="center">{{ form.title }}</p>
        <p align="center"><button name="submit">Додати</button></p>
    </form>
    <div class="post-on-page simple-shadow">
        <h2 align="center">Список існуючих тегів:</h2>
        <ul>
            {% for tag in tags %}
                <li>{{ tag.title }}</li>
            {% empty %}
                <li>Додайте перший тег</li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}