{% load static %}

html{
    overflow-x: hidden;
}

header{
    background-color: #237F9E;
    font-size: 24px;
    font-family: 'Arial';
    border: 2px #EB6386 solid;
    border-radius: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.film-caption{
    width: 95%;
}

.film-text-caption{
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Arial';
    font-size: 22px;
    vertical-align: top;
}

#film-image-caption{
    width: 350px;
    border-radius: 10px;
}


.logo{
    height: 100px;
    border-radius: 5px;
}

a{
    color:black;
    text-decoration: none;
}

a:visited{
    color:black;
}

a:hover{
    color:#EB6386;
}

.film-container{
    border: 2px #EB6386 solid;
    font-size: 36px;
    font-family: 'Arial';
    margin: 5%;
    border-radius: 5px;
}

.main-content{
    margin: 5%;
    margin-top: 3%;
}

.index-title{
    text-align: center;
}

.film-preview{
    width: 300px;
    text-align: center;
    b
}

.category-title{
    border-top: 5px #EB6386 solid;
    border-bottom: 5px #EB6386 solid;
    width: 200px;
    height: 30px;
    margin-left: 1%;
}

.category-title-text{
    margin-top: 0%;
}

.preview-image{
    width: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 5px #EB6386;
}

.preview-image:hover{
    transform: scale(0.99);
    box-shadow: 0px 0px 25px 5px #EBDF34;
}

.next-icon{
    width: 100px;
}

.next-icon:hover{
    transform: rotate(45deg);
}

.preview-content{
    margin-bottom: 100px;
}

footer{
    background-color: gray;
    background-color: #237F9E;
    height: 200px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    font-family: 'Arial';
    border-radius: 5px;
    border: 3px solid #EB6386;

}

.footer-content{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.title{
    text-align: center;
}

.detail-info{
    font-size: 22px;
    text-align: center;
}

.detail-info>td{
    width: 20%;
    border-radius: 5px;
    border: 3px solid #EB6386;
}


.film-caption{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0%;
    text-align: justify;
}


.watch-film-button{
    background-color: transparent;
    border-color: transparent;
    font-size: 22px;
    font-family: 'Arial';
}


.watch-film-button:hover{

}

.button-td:hover{
    background-color: #237F9E;
    cursor: pointer;
}

.film-image{
    border-radius: 5px;
}


.film-trailer-container{
    text-align: center;
    height: 500px;
    margin-top: 5%;
    font-size: 22px;
    font-family: 'Arial';
}


.film-trailer{
    width: 70%;
    height: 100%

}


.film-comments-container{
    margin-top: 7%;
    font-size: 22px;
    font-family: 'Arial';
}


.comment{
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    font-size: 22px;
    font-family: 'Arial';
    text-align: center;
    text-align: left;
}


.comment-content{
    border: 3px solid #EB6386;
    border-radius: 5px;
    margin-top: -1%;
}

.comment-content>p{
    margin-left: 5%;
}


.comment-image{
    width: 50px;
}


.comment-avatar{
    width: 100px;
}


.post{
    width: 95%;
    margin-left: 3%;
}



.post-list{
    list-style: none;
}


.post-avatar{
    margin-top: -3%;
}


.post-author{
    font-size: 24px;
    font-family: 'Arial';
}


.post-text{
    font-size: 18px;
    font-family: 'Arial';
    margin-right: 5%;
    align: justify;
}



.account-content{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    background: gray;
    font-family: 'Arial';
    border-radius: 10px;
    border: 3px solid #EB6386;
}

#name{
    font-size: 24px;
    font-family: 'Arial';
}

#status{
    font-size: 18px;
    font-family: 'Arial';
    vertical-align: top;
    margin-left: 5%;
    margin-top: 1%;
    width: 90%;
    height: 90%;
}

#account-avatar{
    border: 3px solid #EB6386;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 2%;
}


.post-on-page{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border: 3px solid #EB6386;
    border-radius: 5px;
    background: #F9A386;
    font-size: 20px;
}

#post-image{
    border-radius: 5px;
}

.inner-content{
    margin: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.no-bullets{
    list-style: none;
}

.my-posts{
    margin-top: 5%;
}

.author-href:hover{
    cursor: pointer;
}

#post-info{
    width: 100%;
}

.message-table{
    width: 100%;
    border: white solid 1px;
    text-align: justify;
    background: #EBDF34;
}


.message-text{
    margin-left: auto;
    margin-right: auto;
    border: red solid 1px;
}

.new-message{
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    resize: none;
}


#receiver-selector{
    color: red;
}

.message-on-acc{
    border: #EB6386 solid 2px;
    border-radius: 5px;
    margin-bottom: 7%;
    height: 100%;
    margin-top: 0%;
    background: #4CC3EB;
    width: 100%;
}

.just-to-see-borders{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: #EBDF34;
}

.message-button{
    margin: 2%;
}

.some-messages{
    width: 100%;
}

.table-header-3{
    width: 33%
}


.base-header{
    vertical-align: middle;
    margin-right: 2%;
}

.base-header-2{
    width: 100%;
    text-align: right;
}

.td-5{
    width: 10000px;
}

#message-count{
    vertical-align: middle;
}

#add-comm-title{
    width: 250px;
    border-radius: 5px;
    border: black solid 2px;
    box-shadow: 10px 5px 5px #EB6386;
}

.input-char{
    width: 250px;
    border-radius: 5px;
    border: black solid 2px;
    box-shadow: 10px 5px 5px #EB6386;
}

.input-micro{
    width: 125px;
    border-radius: 5px;
    border: black solid 2px;
    box-shadow: 10px 5px 5px #EB6386;
}

.input-file{
    width: 250px;
}

#add-comm-text{
    border: black solid 2px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #EB6386;
    resize: none;
}

#comment-add-button{
    border-radius: 5px;
    border: black solid 2px;
    box-shadow: 10px 5px 5px #EB6386;
    background: white;
}

#comment-add-button:hover{
    transform: scale(0.99);
    background: transparent;
}

.shadow{
    box-shadow: 10px 5px 5px #EB6386;
    border: black solid 2px;
}

.simple-shadow{
    box-shadow: 10px 5px 5px #EB6386;
}








